<div class="card-container grid-view">
  {% for project in site.projects %}
  <article class="card" data-tags="{{ project.tags | join: ' ' | slugify }}">
    <div class="card-header">
      <h3><a href="{{ project.url }}">{{ project.title }}</a></h3>
    </div>
    <p>{{ project.description }}</p>
    <div class="card-footer">
      <div class="tags">
        {% for tag in project.tags %}
          <span class="tag">{{ tag }}</span>
        {% endfor %}
      </div>
      <a href="{{ project.url }}" class="btn">了解更多</a>
    </div>
  </article>
  {% endfor %}
</div>
